* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
 
/* FOOTER */
  .footer{
    background-color: black;
}

/* NAVBAR */
.nav-navigation{
    color: #fff !important;
    background:#000 !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 1em;
    
}

.navigation-nav ul{
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 1em;
}

.navigation-nav .navigation-nav__logo{
    min-width: 5%;
    height: 5vh;
    margin-left: 40px;
    transition: 0.2s ease-out;
    max-width: 6.5vh;    
}
.navigation-nav .navigation-nav__logo:hover{
    transform:scale(1.1) ;
}

/* @media (min-width: 768px){
    .bg-primary{
        background-color: transparent;        
    }
} */

.navigation-nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
}
.navigation-nav li:hover{
    transition: 0.3s ease-out;
    transform:scale(1.1) ;
}
.navigation-nav ul li::before{
    content: "";
    height: 3px;
    width: 0%;
    background: white;
    position: absolute;
    left: 0;
    bottom: 2px;
    transition: 0.2s ease-out;
}  
.navigation-nav ul li:hover::before {
    width: 100%;
    transition: all 0.2s;
}
.navigation-nav .navigation-nav__toggler{
    color: rgb(255, 255, 255);
    width: 7vh;
    height: 4.2vh;
    border: none;
    outline: none;
}
.navigation-nav .navigation-nav__toggler:focus{
    outline: none!important;
}
.navbar-nav{
    background-color: #000;
    background-size:auto;
    
}

.navigation-nav ul li a{
    text-decoration: none;
    color: white;
}


/* PORTADA */
img{
    width: 100%;
}


/* HABILITIES */
.habilities i{
    font-size: 10em;
}


