* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
 
.sub-tittle{
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 300%;
}
/* FOOTER */
  .footer{
    background-color: black;
}

/* NAVBAR */
.nav-navigation{
    background:#000 ;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
    color: #fff !important;
    font-weight: 100;
}
.nav-navigation__color{
    background:#000 !important;
}
/* #nav-navigation{
    transition: all 0.8s ease;
    
}
@media (min-width: 768px){
    .bg-primary{
        background-color: transparent;        
    }
} */
.nav-navigation a{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
    text-decoration: none;
}
.nav-navigation a:hover{
    transition: 0.3s ease-out;
    transform:scale(1.1) ;
    color: #FFFFFF;
}
.nav-navigation a::before{
    content: "";
    height: 3px;
    width: 0%;
    background: white;
    position: absolute;
    left: 0;
    bottom: 2px;
    transition: 0.2s ease-out;
}  
.nav-navigation a:hover::before {
    width: 100%;
    transition: all 0.5s;
}


/* 
.navigation-nav .navigation-nav__logo{
    min-width: 5%;
    height: 5vh;
    margin-left: 40px;
    transition: 0.2s ease-out;
    max-width: 6.5vh;    
}
.navigation-nav .navigation-nav__logo:hover{
    transform:scale(1.1) ;
} */

/* @media (min-width: 768px){
    .bg-primary{
        background-color: transparent;        
    }
} */



/* PORTADA */
.portada-background{
    background: url("../Images/Fondo.jpeg");
    background-repeat:no-repeat;
    /* background-attachment:fixed ; */
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
}
.portada-background::before{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.portada-description{
    position: absolute;
    top: 55%;
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    
}
.portada-description h1{
    font-size: 1.7rem;
    margin-bottom: -0.5px;
}
.portada-description h2{
    font-size: 2.5rem;
    text-decoration: underline;
    margin-bottom: 20px;
}
.portada-description h4{
    font-size: 1.2rem;
}
.portada-description a{
    font-size: 1.rem;
}
.portada-avatar{
    position: absolute;
    left: 25%;
    top: -47rem;
    display: block;
    margin: auto;
    width: 50%;
    animation: move_portada-avatar 3s ease-in-out infinite;
}
@keyframes move_portada-avatar{
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}



/* ABOUTME */
.aboutme-description{
   
   color: #ECF0F1 ; 
   border-radius: 30px;
   text-align: justify;
   font-size: 120%;
   margin: 0px 5%;
   
}
.about-item{
    align-items: center;
    margin: auto;
}
.aboutme-avatar{
    display: block;
    margin: auto;
    width: 50%;
    
}

/* HABILITIES */
.habilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.habilities i {
    padding: 1rem;
    font-size: 10em;    
    color: black;
    min-height: 200px;
    
}

/* EXPERIENCE */
/* .expierence-project{
    
}
 */

